body{
    margin: 0;
}

.contenedor-inicial{
    opacity: 0;
    animation: difuminarCont 0.3s forwards;
}

@keyframes difuminarCont {
    to{
        opacity: 1;
    }
}

.contenedor-inicial{
    display: flex;
    gap: 10px;
}

.container-imag-1{
    width: 170px;
    height: 250px;
    background-color: #6aa8d8f5;
    box-shadow: 9px 9px 25px #1078c7f5;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.img-s{
  border-radius: 10px;
  box-shadow: 9px 9px 25px #1078c7f5;

}

.container-info{
    width: 500px;
    background-color: #6aa8d8f5;
    box-shadow: 9px 9px 25px #1078c7f5;
    margin: 100px 50px 0 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* empuja el contenido al fondo */
    align-items: center; /* centra horizontalmente */
    padding: 20px; /* padding más razonable */
    box-sizing: border-box; /* importante para que padding no afecte altura */
    
}

.info{
     flex: 1;
     display: flex;
}

.info p{
    color: white;
    font-size: 15px;
}

.boton{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.boton-cv{
     display: inline-flex;
     padding: 0px 15px;
     background-color: rgba(0, 0, 0, 0.829);
     color: white;
     text-decoration: none;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
     text-align: center;
     transition: transform 0.3s ease;
}

.boton-cv p{
     font-size: 15px;
     color: white;
     text-align: center;
}

.boton-cv:hover{
    transform: translateY(2px) scale(1.0);
    background-color: rgba(2, 177, 17, 0.705);
}

.boton-git{
    background-color: rgba(0, 0, 0, 0.829);;
    padding: 2px 20px 2px 20px;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.tex{
    margin-top: 11px;
    font-size: 15px;
    font-weight: 700;
}

.boton-git:hover{
    transform: translateY(2px) scale(1.0);
    background-color: rgba(2, 177, 17, 0.705);
}

.footer-sobreMi{
     margin-bottom: 0px;
     margin-top: 80px;
     background-color: rgb(29, 29, 29);
     box-shadow: 20px 1px 35px rgb(0, 0, 0);
     color: white;
     border-radius: 1px;
}

.footer-sobreMi p{
    font-size: 12px;
    margin-top: 5px;
}

@media(max-width: 786px){

    body{
        margin: 0;
    }

    .contenedor-inicial{
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 60px);
    }

    .container-imag-1{
        margin: 30px 0 20px 0;
    }

    .img-s{
     width: 240px;
     border-radius: 10px;
     box-shadow: 9px 9px 25px #000000da;
    }

    .container-info{
        margin: 0 15px 10px 15px;
        width: 94%;
    }

    .footer-sobreMi{
     margin-bottom: 0px;
     margin-top: 7px;
     background-color: rgb(0, 0, 0);
     color: white;
     border-radius: 1px;
    }

    .footer-sobreMi p{
      font-size: 12px;
      margin-top: 5px;
    }


}

@media (max-width: 480px){

    .img-s{
     width: 240px;
     border-radius: 10px;
     box-shadow: 9px 9px 25px #1078c7f5;
    }

    .info p{
     color: white;
     font-size: 14px;
    }

    .boton{
     display: flex;
     flex-direction: row;
     gap: 40px;
     align-items: center;
}

    .boton-cv{
     display: inline-flex;
     padding: 0px 14px;
     background-color: rgba(0, 0, 0, 0.829);
     color: white;
     text-decoration: none;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
     text-align: center;
     transition: transform 0.3s ease;
    }

    .boton-cv p{
     font-size: 12px;
     color: white;
     text-align: center;
    }

   .boton-cv:hover{
     transform: translateY(2px) scale(1.0);
     background-color: rgba(2, 177, 17, 0.705);
   }

   .boton-git{
     background-color: rgba(0, 0, 0, 0.829);;
     padding: 0px 15px 0px 15px;
     color: white;
     border-radius: 5px;
     transition: transform 0.3s ease;
     cursor: pointer;
     text-decoration: none;
    }

   .tex{
     margin-top: 11px;
     font-size: 12.5px;
     font-weight: 700;
    }

}